*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #DECDC3;
  --second-bg-color: ;
  --focus-color: #2D4059;
  --text-color-main: #E5E5E5;
  --title-sizing: 2.8rem ;
  --list-sizing:2.2rem;
  --btn-text-sizing: 1.3rem;
  --btn-delete-color: #F02A71;
  --btn-delete-hover: #EA5455;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  overflow: hidden;
}

.todo {
  margin: 30px auto;
  font-size: var(--title-sizing);
  max-width: 800px;
  text-align: center;
  height: 100%;
  
}
.todo__form{
  margin: 30px;
  display: flex;
  flex-direction: column;

}
.todo__list {
  font-size: var(--list-sizing);
  margin: 0 auto;
 
}
.todo__form input {
  font-size: var(--list-sizing);
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 10px;
  transition: .2s linear;
}
.todo__form input:focus-visible{
  background-color: var(--focus-color);
  color: #fff;
  box-shadow: 0 0 5px 3px var(--focus-color)
}

/* container with list element */
.todo__list--container{
  position: relative;
  width: 100%;
  height:100%;
  min-height: 400px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  align-items:start;
  background-color: var(--focus-color);
  border-radius: 10px;
  box-shadow: 0 0 12px 2px var(--focus-color);
}
.todo__list--order {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 5px;
  margin: 0 auto;
  color:var(--text-color-main)
}


.todo__list--order input {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

/* ul container */
.todo__list--element {
  list-style: none;
  padding: 5px;
  
}
.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* single task span */
.task { 
  color: var(--text-color-main);
  word-wrap: break-word;
}

.rotate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: url(../public/img/note.jpg);
  background-repeat:no-repeat;
  opacity: 0.15;
  filter:drop-shadow(2px 2px 12px  var(--focus-color) );
  z-index: -1;
  animation:bg-rotate 36s infinite linear alternate; 
}
.rotate1 {
  background-position: 100% 100%;

}
/* buttons */

.btn {
  font-size: var(--btn-text-sizing);
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: .1s linear;
}


.btn-delete {
  margin-left: 15px;
  width: 80px;
  background-color: var(--btn-delete-color);
  color: #14103B;
  transition: .2s linear;
}
.btn-delete:hover {
  background-color: var(--btn-delete-hover);
  color: #fff;

}
.btn-submit {
  height: 30px;
  margin-top: 10px;
  width: 50px;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  transition: .28s linear;
}
.btn-submit:hover {
  background-color: var(--focus-color);
  width: 100%;
  color: var(--text-color-main)
}

@media(width < 600px)
{
  :root{
    --title-sizing: 1.3rem ;
    --list-sizing: 1rem;
    --btn-text-sizing: 1rem;
  }
  .todo__list--container{
    width: 80%;
  }
  .todo__list--order {
    grid-template-columns: 1fr;
  }  
}

@media(600px < width < 900px)
{
  :root{
    --title-sizing: 1.3rem ;
    --list-sizing: 1rem;
    --btn-text-sizing: 1rem;
  }
  .todo {
    margin: 0 auto;
  }
  .todo__list--container,
  .todo__form input{
    width: 60%;   

  }

}
@keyframes bg-rotate {

  0% {transform:translate(-105%)}
  100% {transform:translate(105%)}
}